.page-about{
    width: 100%;
    display: flex;
    flex-direction: column; /* Розміщення елементів вертикально, якщо потрібно */
    align-items: center; /* Вертикальне центрування */
    

}

.acordeon{
    margin-top: 80px;
    width: 70%;
    display: flex;
    flex-direction: column; /* Розміщення елементів вертикально, якщо потрібно */
    align-items: center; /* Вертикальне центрування */
    

}