.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-cards{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-list{
    margin-top: 80px;
}


