.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-cards{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-list{
    margin-top: 80px;
}

  /* -----------------@MEDIA---------------------- 
  @media (max-width: 1280px)
  @media (max-width: 1024px)
  @media (max-width: 768px)
  @media (max-width: 680px)
*/
@media (max-width: 680px) {
    .project-cards{
        width: 90%;
    }
}
