.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-cards{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-list{
    margin-top: 80px;
}

  /* -----------------@MEDIA---------------------- 
  @media (max-width: 1280px)
  @media (max-width: 1024px)
  @media (max-width: 768px)
  @media (max-width: 360px)
*/


@media (max-width: 1024px) {
    .project-cards{
        width: 55%;
    }
}

@media (max-width: 860px) {
    .project-cards{
        width: 70%;
    }
}

@media (max-width: 768px) {
    .project-cards{
        width: 80%;
    }
}

@media (max-width: 360px) {
    .project-cards{
        width: 90%;
    }
}
