body {
    
  /*   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; */ 
    background-image: url("./src/pics/background.png");
    min-height: 100vh;
    margin: 0;
    /* Забезпечує розширення сторінки на весь висоту вікна перегляду. */
}

p {
    font-size: large;
}

p .name-Project {
    font-size: x-large;
    color: rgb(226, 31, 31);
}

.pic-project {
    height: 30vh;
}

.all-container {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 90%;
    white-space: normal;
    display: flex;
    flex-direction: column;
    border: solid 3px black;
    border-radius: 20px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    /* background-color: whitesmoke; */
    background-image: url("./src/pics/background1.png");
}

.all-container:hover {
    /* transform: translateY (10px); */
    box-shadow: 25px 25px 10px rgba(0, 0, 0, 0.4);
}

.container-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-buttones {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.buttons {
    font-size: 16px;
    font-weight: bolder;
    margin-top: 75px;
    margin-bottom: 20px;
    width: 180px;
    height: 50px;
    border: solid 1px;
    border-radius: 10px;
    background-color: rgb(199, 206, 214);
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
}

.buttons:hover {
    background-color: rgb(151, 165, 185);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    color: rgb(52, 52, 53);
}

.field{
    margin-top: 10px;
}