body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Горизонтальне центрування */
    justify-content: flex-start;
    /* Вертикальне центрування в горі */
    min-height: 100vh;
    /* Забезпечує розширення сторінки на весь висоту вікна перегляду. */
    margin: 0;
    background-image: url("src/pics/background.png")
}

p {
    font-size: large;
}

p .name-Project {
    font-size: x-large;
    color: rgb(226, 31, 31);
}

.pic-project {
    height: 30vh;
}

.all-container {
    margin-top: 20px;
    width: 50%;
    white-space: normal;
    display: flex;
    flex-direction: column;
    border: solid 3px black;
    border-radius: 20px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    /* background-color: whitesmoke; */
    background-image: url("./src/pics/background1.png");
}

.all-container:hover {
    /* transform: translateY (10px); */
    box-shadow: 25px 25px 10px rgba(0, 0, 0, 0.4);
}

.container-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}


.container-buttones {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.buttons {

    font-size: 16px;
    font-weight: bolder;
    margin-top: 20px;
    width: 180px;
    height: 50px;
    border: solid 1px;
    border-radius: 10px;
    background-color: rgb(199, 206, 214);
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
}

.buttons:hover {
    background-color: rgb(151, 165, 185);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    color: rgb(52, 52, 53);
}